<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>To Do List</title>
    <link rel="stylesheet" href="css/style.css" />

    <div class="title">
      <h1>Welcome to Average Grade Calculator</h1>
      <form action="/show-data" method="post">
        <button type="submit" class="all-sub">All grades</button>
      </form>

      <form action="/deleteGrades" method="post">
        <button type="submit" id="delete-btn" class="all-sub">Delete</button>
      </form>
    </div>
  </head>

  <body></body>
</html>
